@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
    font-family: 'fiveby7regular';
    src: url('fonts/fiveby7-webfont.eot');
    src: url('fonts/fiveby7-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fiveby7-webfont.woff2') format('woff2'),
         url('fonts/fiveby7-webfont.woff') format('woff'),
         url('fonts/fiveby7-webfont.ttf') format('truetype'),
         url('fonts/fiveby7-webfont.svg#5by7regular') format('svg');
    font-weight: normal;
    font-style: normal;

}