@model IEnumerable<BusyRoom.Models.Room>

@{
    ViewData["Title"] = "Home Page";
}

<div class="ct-chart ct-double-octave" id="chart1"></div>

@foreach (var room in Model)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Room name: @room.Name</h2>
            <p>Number of states: @room.States.Count</p>
        </div>

    </div>
}
