@model BusyRoom.Models.Room

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Room name: @Model.Name</h2>
        <p>Number of states: @Model.OccupyStates.Count</p>
        <ul>
            @foreach (var occupyState in Model.OccupyStates)
            {
                <li>@occupyState.CreatedOn</li>
            }
        </ul>
    </div>
    
</div>
